.post {
  width: 500px;
}

.post-heading, .profile-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info-container img {
  height: 75px;
  border-radius: 9999px;
}

.profile-info h2, .profile-info h3 {
  margin: 5px 10px;
}

.profile-info h3 {
  font-size: 14px;
}

.post-icons {
  display: flex;
  justify-content: space-around;
}

.post-button {
  padding: 0;
  outline: none;
  border: none;
  background-color: var(--primary-main);
  color: var(--secondary-main);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 740px) {
  .post {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .post {
    width: 200px
  }

  .profile-info-container img {
    width: 50px;
    height: 50px;
  }

  .profile-info h2 {
    font-size: 15px;
  } 
  
  .profile-info h3 {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .post {
    width: 160px
  }
}