.search-btns {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.search-tab {
  background-color: var(--primary-main);
  color: var(--secondary-main);
  outline: none;
  border: 1px solid var(--secondary-main);
  border-bottom: none;
  padding: 10px 15px;
}

.search-tab:disabled {
  background-color: var(--secondary-main);
  color: var(--primary-main)
}

@media (max-width: 800px) {
  .search-btns {
    width: 400px;
  }
}

@media (max-width: 580px) {
  .search-btns {
    width: 250px;
  }
}

@media (max-width: 360px) {
  .search-btns {
    width: 200px;
  }
}